html{
    height: 100vh;
}

a {
    text-decoration: none !important;
}

.morado{
    background-color: #7b447b !important;
}

.quitapadding{
    padding-top: 0%;
}

.titulos{
    text-align: center;
    color: #d56073;
}

.btnregresar{
    justify-content: right;
    text-align: right;
    padding-right: 2%;
}

.table-home{
    margin-top: 30px;
    max-width: 100%;
    text-align: center;
    color: #576083;
}

.container-btn-mode{
    position: absolute;
    top:8px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    font-size:0;
}
.btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid black;
    transition: background-color .5s;
}
.btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
}
.btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
}
.btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.active{
    background-color:black;
    color:#ffcd5c !important;
}

/* LOGIN */
@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
.body2 {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page2 {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page2 {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container2 {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container2 {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
.label2 {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.input2 {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
.input2::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #d0d0d2;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}





/* MODO OSCURO */

.dark-mode{
    background-color: #212529 !important;
    transition:background-color .5s;
  }
.dark-mode label{
    color:white;
}
.dark-mode .card{
    background-color: #1A1C1E;
}
.dark-mode h1, .dark-mode h2, .dark-mode .btn-contact{
    color:white;
}
.dark-mode .btn-mode{
    background-color:#1A1C1E;
    border:1px solid white;
    color:white;
}

/* tabla responsiva */
@media screen and (max-width: 600px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #fff !important;
      font-weight:lighter;
      font-size:1.3em;
      color: #576083;
  }
  tbody td {
      display: block;
      text-align:center !important;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center !important;
  }
  
}
